@font-face {
    font-family: 'public sans';
    src: url('./Fonts/PublicSans-VariableFont_wght.ttf');
}

:root{
    --font: 'public sans';
    --white: #ffffff;
    --background-color-body: #FAFAFA;
    --closest: 100;
    --close: 75;
    --far: 50;
    --farther: 25;
    --farthest: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.2s linear;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--background-color-body)
}